body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f9f9f9;
}

p {
	margin: 0;
}

.container {
	margin: 2rem auto;
	padding: 0 8%;
}
.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content-image img {
	width: 30rem;
}
.content-table table {
	border-collapse: collapse;
}
.content-table table th,
.content-table table td,
.content-table table tr {
	border: 1px solid #ccc;
	padding: 8px;
}
.content-table table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3700ff;
	color: #f9f9f9;
}

.contact h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.form-container {
	max-width: 100%;
	background-color: #fff;
	padding: 3rem;
	border: none;
	border-radius: 10px;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

input[type='text'],
input[type='date'],
select {
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

input:focus {
	outline: none;
	border-bottom-color: #3700ff;
}

.radio-group {
	display: flex;
	flex-direction: column;
}
.radio-group div {
	margin-bottom: 2px;
}

.label {
	margin-bottom: 6px;
	font-size: 20px;
	font-weight: 500;
}

.form-checkbox {
	flex-direction: row;
	align-items: center;
}

.form-checkbox label {
	margin-left: 1rem;
}

.submit-btn {
	width: 100%;
	padding: 1rem;
	background-color: #3700ff;
	border: none;
	border-radius: 4px;
	color: #f9f9f9;
	font-size: 1rem;
}
