html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #202020;
}

.title {
    font-size: 2rem;
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
}

.link-btn {
    text-decoration: none;
    padding: 1rem;
    border-radius: 4px;
    color: white;
    transition: transform ease-in 0.5s;
    font-family: 'Montserrat', sans-serif;
}
.link-btn:hover {
    transform: translateY(-10px);
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#gmail-btn {
    background: rgb(176, 1, 1);
}
#google-btn {
    background: rgb(0, 92, 0);
    margin: 0 1rem;
}
#calendar-btn {
    background-color: rgb(0, 81, 203);
}